<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
<dict>
<key>
items</key>
<array>
<dict>
<key>
assets</key>
<array>
<dict>
<key>
kind</key>
<string>
software-package</string>
<key>
url</key>
<string>
http://www.haima.me/ipa/1/gw/com.jiang.su/5.5.1.16.ipa?cc=haimamZDNiBTNyMDN5EGN4YDMMjA2ODRhOTQzMjUwYjQ2ZjJiYzE0NDQxMTZjYmYyNmZk$1</string>
</dict>
<dict>
<key>
kind</key>
<string>
full-size-image</string>
<key>
needs-shine</key>
<true/>
<key>
url</key>
<string>
http://img.haima.me/images/freeapp/hmge/icon/icon114a.png</string>
</dict>
<dict>
<key>
kind</key>
<string>
display-image</string>
<key>
needs-shine</key>
<true/>
<key>
url</key>
<string>
http://img.haima.me/images/freeapp/hmge/icon/icon512a.png</string>
</dict>
</array>
<key>
metadata</key>
<dict>
<key>
bundle-identifier</key>
<string>
com.jiang.su</string>
<key>
bundle-version</key>
<string>
5.5.1.16</string>
<key>
kind</key>
<string>
software</string>
<key>
subtitle</key>
<string>
海马苹果助手</string>
<key>
title</key>
<string>
海马苹果助手--不用越狱，极速免费装应用的果粉神器</string>
</dict>
</dict>
</array>
</dict>
</plist>